.bg{
    background-color: #ee0000;
    color: azure;
    font-family: 'Akronim', cursive;
    font-size: 30px;
    text-align: justify;
}
.cuadrado{
    height: 80%;
    width: 80%;
    background-color: #00FF55;
    /*border: 1cm solid #0000ee;*/
}
.circulo{
    height: 10cm;
    width: 10cm;
    background-color: #FF00F3;
    border-radius: 50%;
    border: 1cm solid #0000ee;
}
.triangulo{
    height: 100px;
    width: 100px;
    border-bottom: 160px solid #E5FF00;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}
.strange{
    width: 100px;
    height: 0;
    border-bottom: 50px solid #000000;
    border-left: 100px solid #E5FF00;
    border-right: 60px solid transparent;
}
